body {
	width: 100%;
	height: 100%;
	margin: 0;
}



.root {
	color: #aa9f6e;
	font-weight: bold;
	text-decoration: none;
}
.dir {
	color: #ed9d13;
	font-weight: bold;
	text-decoration: none;
}
.c {
	color: #24b8da;
	text-decoration: none;
}
.h {
	color: #984dda;
	text-decoration: none;
}
.asm {
	color: #83ca34;
	text-decoration: none;
}



.top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #202020;
}
.top .lnk {
	padding-left: 10px;
	line-height: 50px;
	text-decoration: none;
	font-size: 30px;
	font-family: monospace;
	color: #98c6b8;
}
.top .icn {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 36px;
	height: 36px;
}



.left {
	position: absolute;
	top: 50px;
	left: 0;
	width: 300px;
	height: calc(100% - 50px);
}
.left .file-view {
	position: absolute;
	top: 0;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	border-top: 8px solid #040404;
	border-right: 8px solid #040404;
	background: #202020;
	user-select: none;
	overflow: scroll;
}
.left .file-view::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: transparent;
}
.left .file-view::-webkit-scrollbar-track {
	background: #3b3b3b;
	border-radius: 4px;
}
.left .file-view::-webkit-scrollbar-corner {
	background: transparent;
}
.left .file-view::-webkit-scrollbar-thumb {
	background: #4f4f4f;
	border-radius: 4px;
}
.left .file-view .view {
	font-size: 17px;
	padding: 4px 8px 4px 8px;
	margin: 0;
}
.left .file-view .view .vl {
	border-left: 0.9px dotted #373737;
}
.left .file-view .view .vl::after {
	content: "  ";
	position: absolute;
	height: auto;
	transform: translate(calc(-100% + 2px),0);
	border-left: 0.9px dotted #373737;
}
.left .file-view .view .txt {
	color: #d0d0d0;
	font-weight: bold;
	cursor: pointer;
}



.main {
	position: absolute;
	top: 50px;
	left: 300px;
	width: calc(100% - 300px);
	min-height: calc(100% - 58px);
	background: green;
	border-top: solid 8px #040404;
}
